.position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.48);
  z-index: 100;
}

.container {
  max-width: 1310px;
  width: 100%;
  height: 80px;
  padding: 0 15px;
  margin: 0 auto;
}

.headerBody {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url(~/src/assets/Logo.png);
  background-size: cover;
  background-position: center;
  height: 42px;
  width: 230px;
}

.navMenu {
  @media (max-width: 650px) {
    display: none;
  }

  & ul {
    display: flex;
    gap: 32px;
  }
  & li {
    text-transform: uppercase;
    color: white;
    font-family: "Lato";
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    cursor: pointer;
    position: relative;

    & a {
      display: inline-block;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 0;
      bottom: 1px;
      left: 0;
      background-color: white;
      opacity: 0;
      transition: all 0.2s ease;
    }
    &:hover::after {
      width: 100%;
      left: 0;
      opacity: 1;
    }
  }
}

.navigationButton {
  display: flex;
  gap: 12px;

  @media (max-width: 800px) {
    & > :last-child {
      display: none;
    }
  }
}
