.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 99px 15px;
  @media (max-width: 900px) {
    padding: 40px 15px;
  }
  @media (max-width: 500px) {
    padding: 30px 5px;
  }
}

.headerTours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;
  @media (max-width: 500px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.toursTitle {
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  padding-right: 40px;
  @media (max-width: 500px) {
    margin-bottom: 15px;
  }
}

.cardsBlock {
  display: flex;
  margin: 0 -12px 40px -12px;
  @media (max-width: 500px) {
    margin: 0 0 40px 0;
  }
}

.emptyCard {
  flex: 1 1 33.333%;
  padding: 0 12px;
  position: relative;
  margin-bottom: 24px;
  @media (max-width: 1160px) {
    flex: 1 1 50%;
  }
  &::after {
    content: "";
    border: 1px solid #d3eaff;
    height: 100%;
    width: Calc(100% - 24px);
    position: absolute;
    top: 0;
    left: 12px;
    z-index: -1;
  }
}

.notFoundText {
  font-family: "Lato";
  text-align: center;
  width: 100%;
  color: grey;
  font-size: 30px;
  padding-top: 50px;
}

.loadingOrError {
  font-size: 46px;
  padding: 40px 0;
  color: grey;
  text-align: center;
}
